<!DOCTYPE html>
<html>
<head>
	<title>Details - User Manager</title>
</head>
<body>
	<table border="0" width="100%">
		<tr>
			<td width="100"></td>
			<td align="center">
				<h1>User Manager</h1>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td align="center">
				<hr/>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td align="center">
				<a href="home.html">Home</a> |
				<a href="users.html">Users</a> |
				<a href="settings.html">Settings</a> |
				<a href="report.html">Report</a> |
				<a href="../login.html">Logout</a>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td>
				<br/>
				<center>
				<h3>User Details</h3>
				<form method="post">
						<table>
							<tr>
								<td>FULL NAME: </td>
								<td>John</td>
							</tr>
							<tr>
								<td>EMAIL: </td>
								<td>john@example.com</td>
							</tr>
							<tr>
								<td>USERNAME: </td>
								<td>john</td>
							</tr>
							<tr>
								<td>TYPE: </td>
								<td>Admin</td>
							</tr>
							<tr>
								<td>LAST LOGIN: </td>
								<td>2017-10-20 17:23:47</td>
							</tr>
							<tr>
								<td colspan="2">
									<br/>
									<center>
										<a href="users.html">Back</a> | 
										<a href="edit.html">Edit</a> | 
										<a href="delete.html">Delete</a>
									</center>
								</td>
							</tr>
						</table>
					</form>
				</center>
			</td>
			<td width="100"></td>
		</tr>
	</table>
</body>
</html>