<!DOCTYPE html>
<html>
<head>
	<title>Edit - User Manager</title>
</head>
<body>
	<table border="0" width="100%">
		<tr>
			<td width="100"></td>
			<td align="center">
				<h1>User Manager</h1>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td align="center">
				<hr/>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td align="center">
				<a href="home.html">Home</a> |
				<a href="users.html">Users</a> |
				<a href="settings.html">Settings</a> |
				<a href="report.html">Report</a> |
				<a href="../login.html">Logout</a>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td>
				<br/>
				<center>
				<h3>Edit User Information</h3>
				<form method="post">
						<table>
							<tr>
								<td>FULL NAME: </td>
								<td>John</td>
							</tr>
							<tr>
								<td>USERNAME: </td>
								<td>john</td>
							</tr>
							<tr>
								<td>TYPE: </td>
								<td>
									<select>
										<option>Admin</option>
										<option>User</option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<br/>
									<center>
										<a href="users.html">Back</a> | 
										<input type="submit" value="Confirm">
									</center>
								</td>
							</tr>
						</table>
					</form>
					<br/>
					<br/>
					<label>Any message goes here</label>
				</center>
			</td>
			<td width="100"></td>
		</tr>
	</table>
</body>
</html>