<!DOCTYPE html>
<html>
<head>
	<title>Report - User Manager</title>
</head>
<body>
	<table border="0" width="100%">
		<tr>
			<td width="100"></td>
			<td align="center">
				<h1>User Manager</h1>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td align="center">
				<hr/>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td align="center">
				<a href="home.html">Home</a> |
				<a href="users.html">Users</a> |
				<a href="settings.html">Settings</a> |
				<a href="report.html">Report</a> |
				<a href="../login.html">Logout</a>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td>
				<br/>
				<center>
				<h3>User Statistics</h3>
					<table border="1">
						<tr>
							<th>USER TYPE</th>
							<th>TOTAL USER</th>
						</tr>
						<tr>
							<td>Admin</td>
							<td>1</td>
						</tr>
						<tr>
							<td>User</td>
							<td>2</td>
						</tr>
					</table>
					<br/>
					<br/>
					<h3>User Activity</h3>
					<table border="1">
						<tr>
							<th>INACTIVE SINCE</th>
							<th>TOTAL USER</th>
							<th>DETAILS</th>
						</tr>
						<tr>
							<td>3 - 6 Months</td>
							<td>1</td>
							<td><a href="#">Details</a></td>
						</tr>
						<tr>
							<td>6 - 9 Months</td>
							<td>0</td>
							<td><a href="#">Details</a></td>
						</tr>
						<tr>
							<td>9 - 12 Months</td>
							<td>0</td>
							<td><a href="#">Details</a></td>
						</tr>
						<tr>
							<td>More than 12 Months</td>
							<td>1</td>
							<td><a href="#">Details</a></td>
						</tr>
					</table>
				</center>
			</td>
			<td width="100"></td>
		</tr>
	</table>
</body>
</html>