<!DOCTYPE html>
<html>
<head>
	<title>Users - User Manager</title>
</head>
<body>
	<table border="0" width="100%">
		<tr>
			<td width="100"></td>
			<td align="center">
				<h1>User Manager</h1>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td align="center">
				<hr/>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td align="center">
				<a href="home.html">Home</a> |
				<a href="users.html">Users</a> |
				<a href="settings.html">Settings</a> |
				<a href="report.html">Report</a> |
				<a href="../login.html">Logout</a>
			</td>
			<td width="100"></td>
		</tr>
		<tr>
			<td width="100"></td>
			<td>
				<br/>
				<center>
				<h3>User List</h3>
					<form>
						<label>KEYWORD: </label>
						<input type="text">
						<input type="submit" value="Search">
					</form>
					<br/>
					<table border="1">
						<tr>
							<th>FULL NAME</th>
							<th>USERNAME</th>
							<th>TYPE</th>
							<th>OPTION</th>
						</tr>
						<tr>
							<td><a href="details.html">John</a></td>
							<td>john</td>
							<td>Admin</td>
							<td><a href="edit.html">Edit</a> | <a href="delete.html">Delete</a></td>
						</tr>
						<tr>
							<td><a href="details.html">Sally</a></td>
							<td>sally</td>
							<td>User</td>
							<td><a href="edit.html">Edit</a> | <a href="delete.html">Delete</a></td>
						</tr>
						<tr>
							<td><a href="details.html">James</a></td>
							<td>james</td>
							<td>User</td>
							<td><a href="edit.html">Edit</a> | <a href="delete.html">Delete</a></td>
						</tr>
					</table>
				</center>
			</td>
			<td width="100"></td>
		</tr>
	</table>
</body>
</html>